<!--Navigation-->
 <div class="navbar-fixed-top" role="navigation">
    <nav id="nav_f" class="wallpaper" role="navigation">
        <div class="container">
            <div class="nav-wrapper">
            <a href="#" id="logo-container" class="brand-logo">place!</a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="#Projetos">Projetos</a></li>
                    <li><a href="#Contato">Contato</a></li>
                    <li><a [routerLink]="['/login']">Log in</a></li>
                </ul>               
                <ul id="nav-mobile" class="side-nav">
                    <li><a href="#Projetos">Projetos</a></li>
                    <li><a href="#Contato">Contato</a></li>
                    <li><a [routerLink]="['/login']">Log in</a></li>
                </ul>
            <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
            </div>             
        </div>

    </nav>    
</div>

