<!--Navigation-->
 <div class="navbar-fixed">
    <nav id="nav_f" class="default_color" role="navigation">
        <div class="container">
            <div class="nav-wrapper">
            <a href="#" id="logo-container" class="brand-logo">Inovatech</a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="#Sobre">Sobre</a></li>
                    <li><a href="#Projetos">Projetos</a></li>
                    <li><a href="#Contato">Contato</a></li>
                    <button md-raised-button (click)="open()" id="login" class="btn black darken-1">Log In</button>
                </ul>               
                <ul id="nav-mobile" class="side-nav">
                    <li><a href="#Sobre">Sobre</a></li>
                    <li><a href="#Projetos">Projetos</a></li>
                    <li><a href="#Contato">Contato</a></li>
                    <button id="login" class="btn btn-mobile black darken-1" type="submit">
                        Log in
                    </button>
                </ul>
            <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
            </div>             
        </div>

    </nav>    
</div>

