<!--Footer-->
<footer id="Contato" class="page-footer wallpaper scrollspy">

    <div class="container social">  
        <div class="row">
            
            <h5 class="white-text">Social</h5>

                <div class="col s6 m3">
                    <a class="white-text social" href="https://twitter.com/">
                        <i class="small fa fa-twitter-square white-text"></i> Twitter
                    </a>           
                </div>

                <div class="col s6 m3">                        
                    <a class="white-text social" href="https://github.com/">
                        <i class="small fa fa-github-square white-text"></i> Github
                    </a>             
                </div>

                <div class="col s6 m3">                        
                    <a class="white-text social" href="https://www.facebook.com/">
                        <i class="small fa fa-facebook-square white-text"></i> Facebook
                    </a>            
                </div>

                <div class="col s6 m3">
                    <a class="white-text social" href="https://www.linkedin.com/">
                        <i class="small fa fa-linkedin-square white-text"></i> Linkedin
                    </a>       
                </div>
        </div>
    </div>
    <div class="footer-copyright wallpaper">
        <div class="container center">
            GEESS © 2017
        </div>
    </div>

</footer>
