<footer class="page-footer wallpaper">
	 <div class="container">
		 <div class="row">
			 <div class="col l6 s12">
				 <h5 class="white-text">Participe do Place!</h5>
				 <p class="grey-text text-lighten-4">This is an example footer created with materialize to demonstrate how easy it is to create footer with materialize.</p>
			 </div>
			 <div class="col l4 offset-l2 s12">
				 <h5 class="white-text">Institucional</h5>
				 <ul>
					 <li><a [routerLink]="['/projetos']" class="grey-text text-lighten-3">Projetos</a></li>
					 <li><a [routerLink]="['/']" class="grey-text text-lighten-3">Contato</a></li>
					 <li><a [routerLink]="['/']"  class="grey-text text-lighten-3">Help</a></li>
					 <li><a [routerLink]="['/cadastro']" class="grey-text text-lighten-3">Log in</a></li>
				 </ul>
			 </div>
		 </div>
	 </div>
	 <div class="footer-copyright">
		 <div class="container">
		 © 2017 GEESS.
		 <!-- <a class=" text-lighten-4 right">
			 <a class="white-text" href="https://twitter.com/">
			 <i class="small fa fa-twitter-square white-text"></i>
			 </a>

			 <a class="white-text" href="https://github.com/">
			 <i class="small fa fa-github-square white-text"></i>
			 </a>

			 <a class="white-text" href="https://www.facebook.com/">
			 <i class="small fa fa-facebook-square white-text"></i>
			 </a>

			 <a class="white-text" href="https://www.linkedin.com/">
			 <i class="small fa fa-linkedin-square white-text"></i>
			 </a>
		 </a> -->
		 </div>
	 </div>
 </footer>
