 
<div class="row">

  <form (submit)="login($event)" class="col s12">

    <h1 class="text_h">Login</h1>

    <div class="input-field m12">

      <input name="email" type="text" class="validate" [(ngModel)]="user.email">
      <label for="email">Email</label>

    </div>

    <div class="input-field m12">

      <input name="senha" type="password" class="validate" [(ngModel)]="user.senha">
      <label for="senha">Senha</label>

    </div>

    <div class="input-field m12">

      <input id="remember-me" type="checkbox">
      <label for="remember-me">Manter-me conectado</label>

    </div>

    <div class="input-field s6 m12 botoes">

      <div class="col s12 center">
        <button type="submit" class="btn salvar">
          Salvar
        </button>
      </div>

    </div>   
    
  </form>

</div>
   
  
  
