<angular-loader ></angular-loader>

<app-header></app-header>

<div class="section no-pad-bot" id="index-banner">

    <div class="container">

        <h1 class="center header text_h">Para pessoas <span class="span_h2">inovadoras</span>, <span class="span_h2">empreendedoras</span> e <span class="span_h2">colaborativas</span> que buscam um espaço para trocar ideias e experiências.</h1>

        <div class="carousel carousel-slider center ">

            <div class="carousel-item">
              <h1 class="center text_h_sub">Acompanhe o desenvolvimento dos seus projetos.</h1>
            </div>

            <div class="carousel-item">
              <h1 class="center text_h_sub">Possui experiência em negócios?</h1>
            </div>

            <div class="carousel-item">
              <h1 class="center text_h_sub">Investir em negócios inovadores e alto impacto.</h1>
            </div>

        </div>
      </div>
    </div>

<!-- menu do meio -->
    <!-- <ul class="tabs row center hide-on-med-and-down">
      <li class="tab col s3">
        <a class="waves-effect waves-light btn-large">
        <i class="fa fa-cogs" aria-hidden="true"></i>
        Projetos
        </a>
      </li>
      <li class="tab col s3">
        <a class="waves-effect waves-light btn-large">
        <i class="fa fa-calendar" aria-hidden="true"></i>
        Eventos
        </a>
      </li>
      <li class="tab col s3">
        <a class="waves-effect waves-light btn-large">
        <i class="fa fa-usd" aria-hidden="true"></i>
        Financiamento
        </a>
      </li>
      <li class="tab col s3">
        <a class="waves-effect waves-light btn-large">
        <i class="fa fa-users" aria-hidden="true"></i>
        Mentoria
        </a>
      </li>
    </ul> -->

<!--
<div id="Projetos" class="col s12">
  <projects></projects>
</div>

<div id="Eventos" class="col s12 center">
  Eventos
</div>

<div id="Financiamento" class="col s12 center">
  Financiamento
</div>

<div id="Mentoria" class="col s12 center">
  Mentoria
</div> -->
<projects></projects>
<app-footer></app-footer>
