    <angular-loader ></angular-loader>

<app-header></app-header>

<div class="section no-pad-bot" id="index-banner">
    <div class="container">

        <h1 class="center header text_h">Para pessoas <span class="span_h2">inovadoras</span>, <span class="span_h2">empreendedoras</span> e <span class="span_h2">colaborativas</span> que buscam um espaço para trocar ideias e experiências.</h1>
        
        <div class="carousel carousel-slider center ">

            <div class="carousel-item">
              <h1 class="center text_h_sub">Acompanhe o desenvolvimento dos seus projetos.</h1>
            </div>

            <div class="carousel-item">
              <h1 class="center text_h_sub">Possui experiência em negócios?</h1>
            </div>

            <div class="carousel-item">
              <h1 class="center text_h_sub">Investir em negócios inovadores e alto impacto.</h1>
            </div>

            <div class="carousel-fixed-item center">
              
              <button [routerLink]="['/cadastro']" class="btn waves-effect waves-light orange darken-1">
                Começar
              </button>

            </div>

        </div>   
        
    </div>

</div>

<div class="row">
  <div class="col md6">
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">Projetos</h3>
      </div>
      <div class="panel-body">

        <projects></projects>
      </div>
    </div>
  </div>

    <div class="col md6">
      <div class="panel panel-warning">
        <div class="panel-heading">
          <h3 class="panel-title"></h3>
        </div>
        <div class="panel-body">
          
          
        </div>
      </div>
    </div>
</div>



<app-footer></app-footer>
