<app-header></app-header>
<div class="section no-pad-bot" id="index-banner">
    <div class="container">

        <h1 class="center header text_h">Para pessoas <span class="span_h2">inovadoras</span>, <span class="span_h2">empreendedoras</span> e <span class="span_h2">colaborativas</span> que buscam um espaço para trocar ideias e experiências.</h1>
        
        <div class="carousel carousel-slider center ">

            <div class="carousel-item">
              <h1 class="center text_h_sub">Acompanhe o desenvolvimento dos seus projetos.</h1>
            </div>

            <div class="carousel-item">
              <h1 class="center text_h_sub">Possui experiência em negócios.</h1>
            </div>

            <div class="carousel-item">
              <h1 class="center text_h_sub">Investir em negócios inovadores e alto impacto.</h1>
            </div>

            <div class="carousel-fixed-item center">
              
              <button [routerLink]="['/cadastro']" class="btn waves-effect waves-light orange darken-1">
                Começar
              </button>

            </div>

        </div>   
        
    </div>

</div>

<!--Work-->
<div class="section scrollspy" id="Projetos">
    <div class="container">
        <h2 class="header text_b">Projetos</h2>
        <div class="row">

            <div class="col s6 m4 l3">

                <div class="card">

                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="./assets/images/project1.jpg">
                    </div>

                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Titulo<i class="mdi-navigation-more-vert right"></i></span>
                        <p><a href="#">link</a></p>
                    </div>

                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Titulo<i class="mdi-navigation-close right"></i></span>
                        <p>Uma breve descrição...</p>
                    </div>

                </div>

            </div>
            
            <div class="col s6 m4 l3">
                <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="./assets/images/project2.jpeg">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Project Title <i class="mdi-navigation-more-vert right"></i></span>
                        <p><a href="#">Project link</a></p>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Project Title <i class="mdi-navigation-close right"></i></span>
                        <p>Here is some more information about this project that is only revealed once clicked on.</p>
                    </div>
                </div>
            </div>
            <div class="col s6 m4 l3">
                <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="./assets/images/project3.png">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Project Title <i class="mdi-navigation-more-vert right"></i></span>
                        <p><a href="#">Project link</a></p>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Project Title <i class="mdi-navigation-close right"></i></span>
                        <p>Here is some more information about this project that is only revealed once clicked on.</p>
                    </div>
                </div>
            </div>
            <div class="col s6 m4 l3">
                <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="./assets/images/project4.jpg">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">Project Title <i class="mdi-navigation-more-vert right"></i></span>
                        <p><a href="#">Project link</a></p>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Project Title <i class="mdi-navigation-close right"></i></span>
                        <p>Here is some more information about this project that is only revealed once clicked on.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>